# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.app
*.o
*.obj
*.a
*.lib

# Zig build artifacts
zig-cache/
zig-out/
/release/
/debug/
/build/
/build-*/

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
# vendor/

# Go workspace file
go.work
go.work.sum
go.mod

# env file
.env

# Logs
*.log

# Project specific zig
config.local.zig
secret.zig
